<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
   
    <!--<add name="DefaultConnection" connectionString="database=PralnaDemo_db;server=eee9l7b726.database.windows.net;user=eterioshop_dbuser@eee9l7b726;pwd=justForTest18" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
   
    <add name="PralnaEntities" connectionString="metadata=res://*/Models.inetshop.csdl|res://*/Models.inetshop.ssdl|res://*/Models.inetshop.msl;provider=System.Data.SqlClient;provider connection string=&quot;database=PralnaDemo_db;server=eee9l7b726.database.windows.net;user=eterioshop_dbuser@eee9l7b726;pwd=justForTest18;Connection Timeout=300;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />-->

    <add name="DefaultConnection" connectionString="database=CentralnaPralna;server=emersonhr.database.windows.net;user=emerson;pwd=justForTest18" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

    <add name="PralnaEntities" connectionString="metadata=res://*/Models.csdl|res://*/Models.ssdl|res://*/Models.msl;provider=System.Data.SqlClient;provider connection string=&quot;database=CentralnaPralna;server=emersonhr.database.windows.net;user=emerson;pwd=justForTest18;Connection Timeout=300;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    
  </connectionStrings>
  
  
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
